<template>
  <div>
    <div class="billing-form form mb-4">
      <h3 class="full">Billing</h3>

      <div class="billing-form form full">
        <div class="billing-first-name">
          <label for="billing-first-name">First Name</label>
          <input
            id="billing-first-name"
            v-model="billingAddress.first_name"
            type="text"
          />
        </div>

        <div class="billing-last-name">
          <label for="billing-last-name">Last Name</label>
          <input
            id="billing-last-name"
            v-model="billingAddress.last_name"
            type="text"
          />
        </div>

        <div class="billing-company full">
          <label for="billing-company">Company</label>
          <input
            id="billing-company"
            v-model="billingAddress.company"
            type="text"
          />
        </div>

        <div class="billing-country full">
          <label for="billing-country">Country</label>
          <input
            id="billing-country"
            v-model="billingAddress.country"
            type="text"
          />
        </div>

        <div class="billing-address-1 full">
          <label for="billing-address-1">Address</label>
          <input
            id="billing-address-1"
            v-model="billingAddress.address_1"
            placeholder="House number and street name"
            type="text"
          />
        </div>

        <div class="billing-address-2 full">
          <input
            id="billing-address-2"
            v-model="billingAddress.address_2"
            placeholder="Apartment, suite, unit, etc."
            type="text"
          />
        </div>

        <div class="billing-city full">
          <label for="billing-city">City</label>
          <input id="billing-city" v-model="billingAddress.city" type="text" />
        </div>

        <div class="billing-county full">
          <label for="billing-county">County</label>
          <input
            id="billing-county"
            v-model="billingAddress.state"
            type="text"
          />
        </div>

        <div class="billing-postcode full">
          <label for="billing-postcode">Postcode</label>
          <input
            id="billing-postcode"
            v-model="billingAddress.postcode"
            type="text"
          />
        </div>

        <div class="billing-phone full">
          <label for="billing-phone">Phone</label>
          <input
            id="billing-phone"
            v-model="billingAddress.phone"
            type="text"
          />
        </div>

        <div class="billing-email full">
          <label for="billing-email">Email</label>
          <input
            id="billing-email"
            v-model="billingAddress.email"
            type="email"
          />
        </div>
      </div>
    </div>

    <div class="form mb-4">
      <div class="shipping-same full">
        <label for="shipping-same-billing">Ship to a different address?</label>
        <input
          id="shipping-same-billing"
          v-model="shippingSameAsBilling"
          type="checkbox"
          :value="true"
        />
      </div>
    </div>

    <div v-if="!shippingSameAsBilling" class="shipping-form form mb-4">
      <h3 class="full">Shipping</h3>

      <div class="shipping-form form full">
        <div class="shipping-first-name">
          <label for="shipping-first-name">First Name</label>
          <input
            id="shipping-first-name"
            v-model="shippingAddress.first_name"
            type="text"
          />
        </div>

        <div class="shipping-last-name">
          <label for="shipping-last-name">Last Name</label>
          <input
            id="shipping-last-name"
            v-model="shippingAddress.last_name"
            type="text"
          />
        </div>

        <div class="shipping-company full">
          <label for="shipping-company">Company</label>
          <input
            id="shipping-company"
            v-model="shippingAddress.company"
            type="text"
          />
        </div>

        <div class="shipping-country full">
          <label for="shipping-country">Country</label>
          <input
            id="shipping-country"
            v-model="shippingAddress.country"
            type="text"
          />
        </div>

        <div class="shipping-address-1 full">
          <label for="shipping-address-1">Address</label>
          <input
            id="shipping-address-1"
            v-model="shippingAddress.address_1"
            placeholder="House number and street name"
            type="text"
          />
        </div>

        <div class="shipping-address-2 full">
          <input
            id="shipping-address-2"
            v-model="shippingAddress.address_2"
            placeholder="Apartment, suite, unit, etc."
            type="text"
          />
        </div>

        <div class="shipping-city full">
          <label for="shipping-city">City</label>
          <input
            id="shipping-city"
            v-model="shippingAddress.city"
            type="text"
          />
        </div>

        <div class="shipping-county full">
          <label for="shipping-county">County</label>
          <input
            id="shipping-county"
            v-model="shippingAddress.state"
            type="text"
          />
        </div>

        <div class="shipping-postcode full">
          <label for="shipping-postcode">Postcode</label>
          <input
            id="shipping-postcode"
            v-model="shippingAddress.postcode"
            type="text"
          />
        </div>
      </div>
    </div>

    <div class="form mb-4">
      <div class="order-note full">
        <label for="order-note">Order note</label>
        <textarea
          id="order-note"
          v-model="orderNote"
          placeholder="Notes about your order"
        />
      </div>
    </div>

    <div class="form mb-4">
      <payment-selector
        ref="paymentSelector"
        class="full"
        :checkout-fields="{
          shipping_address: shippingAddress,
          billing_address: billingAddress,
          customer_note: orderNote,
          payment_method: paymentMethod,
        }"
        @change="onPaymentSelect"
      />
    </div>

    <button class="btn" @click.prevent="placeOrder">Place Order</button>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  data() {
    return {
      orderNote: '',
      shippingAddress: null,
      billingAddress: null,
      shippingSameAsBilling: true,
      paymentMethod: '',
      checkoutFlag: false,
    }
  },
  computed: {
    ...mapGetters('cart', {
      cartShippingAddress: 'shippingAddress',
      cartBillingAddress: 'billingAddress',
    }),
    ...mapState('stripe', {
      stripeElement: 'element',
    }),
  },
  created() {
    this.shippingAddress = { ...this.cartShippingAddress }
    this.billingAddress = { ...this.cartBillingAddress }
  },
  methods: {
    onPaymentSelect(payment) {
      this.paymentMethod = payment
    },
    async placeOrder() {
      if (this.shippingSameAsBilling) {
        this.shippingAddress = { ...this.billingAddress }
      }

      if (this.paymentMethod === 'stripe') {
        // Get user's details
        const {
          address_1: line1 = '',
          address_2: line2 = '',
          city = '',
          state = '',
          postcode = '',
          country = '',
          phone = '',
          email = '',
          first_name: firstName = '',
          last_name: lastName = '',
        } = this.billingAddress

        // Prepare data
        const owner = {
          address: {
            line1,
            line2,
            city,
            state,
            postal_code: postcode,
            country,
          },
          phone,
          email,
          name: `${firstName} ${lastName}`,
        }

        // Get source from stripe
        await this.$stripe
          .createSource(this.stripeElement, { owner })
          .then(({ source: { id } }) => {
            // now checkout
            this.checkout([
              { key: 'stripe_source', value: id },
              { key: 'paymentMethod', value: 'stripe' },
              { key: 'paymentRequestType', value: 'cc' },
            ])
          })
      }

      if (this.paymentMethod === 'paypal') {
        // Redirect to paypal screen
        await this.payPalCheckout()
      }
    },
    async checkout(paymentData) {
      await this.$api
        .checkout({
          shipping_address: this.shippingAddress,
          billing_address: this.billingAddress,
          customer_note: this.orderNote,
          payment_method: this.paymentMethod,
          payment_data: paymentData,
        })
        .then(({ order_key: key }) => {
          this.$router.push({
            path: '/thank-you',
            query: {
              key,
            },
          })
        })
        .catch(
          ({
            response: {
              data: { message },
            },
          }) => {
            this.checkoutFlag = false

            this.$notification.error({
              message,
            })
          }
        )
    },
    async payPalCheckout() {
      await this.$api
        .checkout({
          shipping_address: this.shippingAddress,
          billing_address: this.billingAddress,
          customer_note: this.orderNote,
          payment_method: this.paymentMethod,
          payment_data: [],
        })
        .then(({ payment_result: { redirect_url: redirectUrl = '' } }) => {
          if (redirectUrl !== '') {
            try {
              const url = new URL(redirectUrl)
              const returnUrl = new URL(url.searchParams.get('return'))
              const cancelUrl = new URL(url.searchParams.get('cancel_return'))
              returnUrl.host = location.host
              returnUrl.pathname = '/thank-you'

              cancelUrl.host = location.host
              cancelUrl.pathname = '/cart/checkout'

              url.searchParams.set('return', returnUrl.href)
              url.searchParams.set('cancel_return', cancelUrl.href)

              location.href = url.href
            } catch (e) {}
          }
        })
        .catch(
          ({
            response: {
              data: { message },
            },
          }) => {
            this.checkoutFlag = false

            this.$notification.error({
              message,
            })
          }
        )
    },
  },
}
</script>

<style scoped lang="scss">
h3 {
  @apply text-2xl font-bold;
}

.form {
  @apply grid grid-cols-2 gap-4;

  label {
    @apply font-bold mb-2;
  }

  textarea {
    @apply h-32;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    @apply border border-gray-400 border-2 w-full p-2;

    &:focus {
      @apply outline-none border-black;
    }
  }

  .full {
    @apply col-span-2;
  }
}
</style>
