<template>
  <div class="sticky top-0">
    <div class="cart-subtotal item">
      <strong>Subtotal:</strong> <span>{{ subtotal }}</span>
    </div>

    <shipping-selector class="cart-shipping item" />

    <div class="cart-total item">
      <strong>Total:</strong> <span>{{ total }}</span>
    </div>

    <stripe-request />

    <div class="checkout">
      <nuxt-link to="/cart/checkout" class="checkout-btn btn"
        >Checkout</nuxt-link
      >
    </div>

    <div class="actions">
      <button class="clear-cart-btn" @click="clearCart">
        {{ reconfirm ? 'Are you sure?' : 'Clear cart' }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      reconfirm: false,
    }
  },
  computed: {
    ...mapGetters('cart', {
      subtotal: 'totalItemsFormatted',
      total: 'totalPriceFormatted',
    }),
  },
  methods: {
    ...mapActions('cart', {
      clear: 'clearCart',
    }),
    clearCart() {
      if (this.reconfirm) {
        this.clear()
      } else {
        this.reconfirm = true

        setTimeout(() => {
          this.reconfirm = false
        }, 5000)
      }
    },
  },
}
</script>

<style scoped lang="scss">
.item {
  @apply mb-2;
}

.checkout {
  @apply mb-8;

  .checkout-btn {
    @apply block text-center;
  }
}

.clear-cart-btn {
  @apply text-red-800;
}
</style>
