<template>
  <div v-if="cartItems.length === 0">Your cart is empty</div>
  <div v-else>
    <div class="cart-list max-w-xs grid gap-y-4">
      <cart-item
        v-for="item in cartItems.slice(0, maxItems)"
        :key="`cart-item-${item.id}`"
        :product="item"
      />
    </div>
    <nuxt-link v-if="cartItems.length > maxItems" to="/cart">
      See all items
    </nuxt-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      maxItems: 5,
    }
  },
  computed: {
    ...mapGetters('cart', {
      cartItems: 'items',
    }),
  },
}
</script>
