<template>
  <div class="cart-item">
    <div class="product-image">
      <nuxt-link :to="link">
        <img v-if="productImage" :src="productImage" :alt="name" />
      </nuxt-link>
    </div>
    <div class="info">
      <h3>
        <nuxt-link :to="link">{{ name }}</nuxt-link>
      </h3>
      <div v-if="variations.length" class="attributes">
        <div
          v-for="variation in variations"
          :key="`attr-${slug}-${variation.value}`"
          class="attribute"
        >
          <h5>
            {{ variation.attribute }} -
            <span class="option">{{ variation.value }}</span>
          </h5>
        </div>
      </div>
      <div class="qty">Qty: {{ qty }}</div>

      <product-price class="product-price" :product="product">
        <template #before>
          <span>Unit price: </span>
        </template>
      </product-price>

      <div class="line-total">
        <strong
          ><span>Total price: </span
          >{{ `${currencySymbol}${toPriceFormat(lineTotal)}` }}</strong
        >
      </div>

      <div v-if="editable" class="item-action">
        <button class="remove-item" @click="removeItem(itemKey)">
          {{ !reconfirm ? 'Remove' : 'Are you sure?' }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import productMixin from '~/mixin/product'

export default {
  mixins: [productMixin],
  props: {
    editable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      reconfirm: false,
    }
  },
  computed: {
    variations() {
      return this.product.variation || []
    },
    qty() {
      return this.product.quantity || 0
    },
    lineTotal() {
      return this.product.totals.line_total || 0
    },
    itemKey() {
      return this.product.key
    },
  },
  methods: {
    ...mapActions('cart', ['removeCartItem']),
    removeItem(key) {
      if (this.reconfirm) {
        this.removeCartItem(key)
      } else {
        this.reconfirm = true

        setTimeout(() => {
          this.reconfirm = false
        }, 5000)
      }
    },
  },
}
</script>

<style scoped lang="scss">
.cart-item {
  @apply grid grid-cols-3 gap-x-4;

  .info {
    @apply col-span-2 text-sm;

    h3 {
      @apply text-base font-bold mb-1;

      &:hover {
        @apply opacity-50;
      }
    }

    .attributes {
      @apply grid gap-x-2;

      .attribute {
        h5 {
          @apply font-bold text-sm;
        }
      }
    }

    .qty {
      @apply text-sm;
    }
  }
}
</style>
