<template>
  <div class="gateway-list">
    <div v-for="{ id, name } in gateways" :key="`payment-${id}`">
      <label :for="`payment-${id}`">
        <input
          :id="`payment-${id}`"
          v-model="choice"
          :value="id"
          name="payment"
          type="radio"
        />
        {{ name }}
      </label>
      <stripe
        v-if="choice === 'stripe' && id === 'stripe'"
        ref="stripe"
      ></stripe>
    </div>
  </div>
</template>

<script>
import gatewayConfig from '~/config/gateways.json'

export default {
  props: {
    checkoutFields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      gateways: gatewayConfig,
      choice: '',
    }
  },
  watch: {
    choice(val, oldVal) {
      if (val !== oldVal) {
        this.$emit('change', val)
      }
    },
  },
  created() {
    if (this.gateways.length) {
      const gateway = [...this.gateways].shift()
      this.choice = gateway.id
    }
  },
}
</script>

<style scoped lang="scss">
.gateway-list {
  @apply grid gap-4;

  label {
    @apply mb-2 font-bold cursor-pointer;
  }

  p.instructions {
    @apply text-sm;
  }
}
</style>
