<template>
  <div>
    <h4>Shipping</h4>
    <div class="shipping-rates">
      <template v-for="{ shipping_rates } in shippingRates">
        <div
          v-for="rate in shipping_rates"
          :key="`rate-${shipping_rates.package_id}-${rate.instance_id}`"
        >
          <label :for="`rate-${rate.method_id}`">
            <input
              :id="`rate-${rate.method_id}`"
              v-model="rateId"
              type="radio"
              name="shipping"
              :value="rate.rate_id"
            />
            <span>{{ shippingName(rate) }}</span>
          </label>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { usePriceFormat } from '~/composables/usePriceFormat'

const { priceFormat } = usePriceFormat()

export default {
  data() {
    return {
      packageId: 0,
      rateId: '',
    }
  },
  computed: {
    ...mapGetters('cart', ['shippingRates']),
  },
  watch: {
    rateId(val, oldVal) {
      if (val !== oldVal) {
        this.selectShipping()
      }
    },
  },
  created() {
    const shipping = this.shippingRates.map((shipping) => {
      const { shipping_rates: rates } = shipping

      shipping.selected = rates.find(({ selected }) => {
        return selected
      })

      return shipping
    })

    if (shipping.length) {
      const {
        package_id: packageId,
        selected: { rate_id: rateId },
      } = shipping.shift()

      this.packageId = packageId
      this.rateId = rateId
    }
  },
  methods: {
    shippingName(rate) {
      const {
        name,
        price,
        currency_symbol: currency,
        currency_minor_unit: minorUnit,
      } = rate

      let label = name

      if (parseInt(price) !== 0) {
        const shippingCost = priceFormat(price, minorUnit)

        label += `: ${currency}${shippingCost}`
      }

      return label
    },
    async selectShipping() {
      await this.$api.shippingRate(this.packageId, this.rateId)
    },
  },
}
</script>

<style scoped lang="scss">
h4 {
  @apply font-bold mb-2;
}

label {
  @apply cursor-pointer;
}
</style>
