<template>
  <product-feed
    :products="products"
    :page-title="pageTitle"
    :page="page"
    :total="total"
    :total-pages="totalPages"
    :per-page="perPage"
  />
</template>

<script>
export default {
  async asyncData({ $api, params, $config }) {
    const { page = 1 } = params
    const { perPage } = $config

    const { products, total, totalPages } = await $api.products(page)

    return {
      products,
      pageTitle: '',
      page: parseInt(page),
      total: parseInt(total),
      totalPages,
      perPage,
    }
  },
}
</script>
