<template>
  <div class="grid">
    <component
      :is="product.type"
      v-for="product in products"
      :key="`product-${product.id}`"
      :product="product"
    />
  </div>
</template>

<script>
import Simple from './Simple'
import Variable from './Variable'
import Grouped from './Grouped'
import External from './External'

export default {
  components: {
    Simple,
    Variable,
    Grouped,
    External,
  },
  props: {
    products: {
      type: Array,
      default() {
        return []
      },
    },
    page: {
      type: Number,
      default: 1,
    },
  },
}
</script>

<style scoped lang="scss">
.grid {
  @apply grid-cols-4 gap-6 gap-y-8;
}
</style>
