<template>
  <div>
    <div class="product-image">
      <nuxt-link :to="link">
        <img v-if="productImage" :src="productImage" :alt="name" />
      </nuxt-link>
    </div>
    <h4 class="product-name">
      <nuxt-link :to="link">{{ name }}</nuxt-link>
    </h4>
    <div class="meta">
      <slot name="price">
        <span
          v-if="inStock"
          v-html-safe="fullPrice"
          class="price"
          :class="{ 'on-sale': onSale && salePrice }"
        />
        <span v-else class="price out-of-stock">Out of stock</span>
      </slot>
    </div>
  </div>
</template>

<script>
import productMixin from '~/mixin/product'

export default {
  mixins: [productMixin],
}
</script>

<style scoped lang="scss">
.product-image {
  @apply mb-4;

  > a {
    @apply relative block;

    padding-top: (1 / 1) * 100%;

    img {
      @apply absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.product-name {
  @apply text-xl font-bold text-center;

  a:hover {
    @apply opacity-50;
  }
}

.meta {
  @apply text-center;

  .price {
    &.out-of-stock,
    &.on-sale {
      @apply text-red-700;
    }
  }
}
</style>
