<template>
  <div>
    <client-only>
      <!-- eslint-disable-next-line vue/attribute-hyphenation -->
      <pay-pal-button :createOrder="createOrder" :onApprove="onApprove" />
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { usePriceFormat } from '~/composables/usePriceFormat'

const { priceFormat } = usePriceFormat()

export default {
  props: {
    checkoutFields: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters('cart', {
      cartTotalPrice: 'totalPrice',
      cartCurrencyMinorUnit: 'currencyMinorUnit',
      currencyCode: 'currencyCode',
      cartItems: 'items',
    }),
  },
  methods: {
    async createOrder(data, actions) {
      const {
        order_id: orderId,
        order_key: orderKey,
        billing_address: {
          email,
          phone,
          first_name: firstName,
          last_name: surname,
          address_1: address1,
          address_2: address2,
          postcode,
          country,
          state,
          city,
        },
      } = await this.$api.checkout(this.checkoutFields)

      return actions.order.create({
        intent: 'CAPTURE',
        payer: {
          email,
          name: {
            given_name: firstName,
            surname,
          },
          phone: {
            phone_number: {
              national_number: phone,
            },
          },
          address: {
            address_line_1: address1,
            address_line_2: address2,
            postal_code: postcode,
            country_code: country,
            admin_1: state,
            admin_2: city,
          },
        },
        purchase_units: [
          {
            invoice_id: `WC-${orderId}`,
            custom: {
              order_id: orderId,
              order_key: orderKey,
            },
            amount: {
              currency_code: this.currencyCode,
              value: priceFormat(
                this.cartTotalPrice,
                this.cartCurrencyMinorUnit
              ),
            },
          },
        ],
      })
    },
    onApprove(data, actions) {
      actions.order.capture()

      // Go to thank you page after capture
      this.$router.push({
        path: '/thank-you',
      })
    },
  },
}
</script>
