<template>
  <div>
    <client-only>
      <div id="card-element"></div>
    </client-only>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      card: null,
    }
  },
  async mounted() {
    await this.$nextTick(() => {
      const elements = this.$stripe.elements()

      this.card = elements.create('card', {
        hidePostalCode: true,
      })

      this.card.mount('#card-element')

      this.card.on('blur', () => {
        this.updateElement(this.card)
      })
    })
  },
  beforeDestroy() {
    this.card.destroy()
    this.updateElement(null)
  },
  methods: {
    ...mapActions('stripe', ['updateElement']),
  },
}
</script>
