<template>
  <div>
    <client-only>
      <div v-show="paymentButton" id="payment-request-button"></div>
    </client-only>
  </div>
</template>

<script>
export default {
  data() {
    return {
      paymentButton: true,
    }
  },
  async mounted() {
    await this.$nextTick(async () => {
      const paymentRequest = this.$stripe.paymentRequest({
        country: 'US',
        currency: 'usd',
        total: {
          label: 'Demo total',
          amount: 1099,
        },
        requestPayerName: true,
        requestPayerEmail: true,
        requestPayerPhone: true,
      })

      const elements = this.$stripe.elements()
      const prButton = elements.create('paymentRequestButton', {
        paymentRequest,
      })

      // Check the availability of the Payment Request API first.
      await paymentRequest.canMakePayment().then((result) => {
        if (result) {
          prButton.mount('#payment-request-button')
        } else {
          this.paymentButton = false
        }
      })

      // Get payment source
      paymentRequest.on('source', async (ev) => {
        const {
          source: {
            id,
            owner: {
              address: {
                line1,
                line2,
                city,
                country,
                state,
                postal_code: postcode,
              },
              email,
              name,
              phone,
            },
          },
        } = ev

        // Extract details
        const addressItem = {
          email: email !== null ? email : ev.payerEmail,
          phone:
            phone !== null
              ? phone
              : ev.payerPhone && ev.payerPhone.replace('/[() -]/g', ''),
          first_name:
            name !== null ? name.split(' ').slice(0, 1).join(' ') : '',
          last_name: name !== null ? name.split(' ').slice(1).join(' ') : '',
          address_1: line1,
          address_2: line2,
          city,
          state,
          country,
          postcode,
        }

        // Checkout on woocommerce
        await this.$api
          .checkout({
            shipping_address: addressItem,
            billing_address: addressItem,
            payment_method: 'stripe',
            payment_data: [
              { key: 'stripe_source', value: id },
              { key: 'paymentMethod', value: 'stripe' },
              { key: 'paymentRequestType', value: 'applepay' },
            ],
          })
          .then(({ order_key: key }) => {
            ev.complete('success')

            this.$router.push({
              path: '/thank-you',
              query: {
                key,
              },
            })
          })
          .catch(
            ({
              response: {
                data: { message },
              },
            }) => {
              ev.complete('fail')

              this.$notification.error({
                message,
              })
            }
          )
      })
    })
  },
}
</script>
