<template>
  <div class="wrapper">
    <label>
      <input
        v-model="searchQuery"
        type="text"
        placeholder="Search Store"
        class="searchbar"
        @keypress.enter="search"
      />
    </label>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchQuery: '',
    }
  },
  created() {
    this.searchQuery = this.$route.query.s || ''
  },
  methods: {
    search() {
      this.$router.push({
        path: '/search',
        query: {
          s: this.searchQuery,
        },
      })
    },
  },
}
</script>

<style scoped lang="scss">
.wrapper {
  @apply w-1/3;

  .searchbar {
    @apply border border-gray-500 rounded-2xl px-2 py-1 outline-none w-full;
  }
}
</style>
