<template>
  <header class="flex my-4 items-center">
    <h1 class="font-bold text-xl">
      <nuxt-link to="/">My Store</nuxt-link>
    </h1>

    <site-search-bar class="ml-auto" />

    <client-only>
      <v-popover
        class="ml-8"
        trigger="hover"
        placement="bottom-right"
        :auto-hide="false"
        :delay="{ show: 0, hide: 500 }"
        @show="cartList = true"
        @apply-hide="cartList = false"
      >
        <nuxt-link to="/cart">
          <span class="mdi mdi-cart"></span>
          <span class="text-sm">({{ cartCount }})</span>
        </nuxt-link>

        <keep-alive slot="popover">
          <cart-list v-if="cartList" :key="`cart-list-${cartCount}`" />
        </keep-alive>
      </v-popover>
    </client-only>
  </header>
</template>

<script>
export default {
  data() {
    return {
      cartList: false,
    }
  },
  computed: {
    cartCount() {
      return this.$store.getters['cart/itemsCount']
    },
  },
}
</script>
