<template>
  <div>
    <h4>Categories</h4>
    <ul>
      <li
        v-for="category in categories"
        :key="`sidebar-category-${category.id}`"
      >
        <nuxt-link :to="`/category/${category.slug}`">
          {{ category.name }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('category', ['categories']),
  },
}
</script>

<style scoped lang="scss">
h4 {
  @apply font-bold text-lg mb-1;
}

ul {
  li {
    a {
      @apply text-sm;

      &.nuxt-link-active {
        @apply font-bold cursor-default;
      }

      &:hover:not(.nuxt-link-active) {
        @apply opacity-50;
      }
    }
  }
}
</style>
