<template>
  <component :is="`${product.type}-page`" :product="product" />
</template>

<script>
import SimplePage from '~/components/Product/SimplePage'
import VariablePage from '~/components/Product/VariablePage'
import GroupedPage from '~/components/Product/GroupedPage'
import ExternalPage from '~/components/Product/ExternalPage'

export default {
  components: {
    SimplePage,
    VariablePage,
    GroupedPage,
    ExternalPage,
  },
  layout: 'fullPage',
  async asyncData({ $api, params }) {
    const { slug } = params
    const product = await $api.product(slug)

    return { product }
  },
}
</script>
