@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply bg-black text-white rounded-md px-4 py-2 w-full block text-center;
  }

  .btn:focus {
    @apply outline-none;
  }

  .btn[disabled] {
    @apply cursor-default opacity-50;
  }

  .btn:hover:not([disabled]) {
    @apply bg-gray-700;
  }
}
