<template>
  <product-feed
    :products="products"
    :page-title="pageTitle"
    :page="page"
    :total="total"
    :total-pages="totalPages"
    :per-page="perPage"
  />
</template>

<script>
export default {
  async asyncData({ $api, params, $config, error, store }) {
    const { page = 1, slug = '' } = params
    const { perPage } = $config

    // Get category by slug
    const category = store.getters['category/getCategoryBySlug'](slug)

    if (!category) {
      error({
        stateCode: 404,
        message: 'Category not found',
      })
    }

    const { id, name } = category

    // Get products by category id
    const { products, total, totalPages } = await $api.products(page, perPage, {
      category: id,
    })

    return {
      products,
      pageTitle: name,
      page: parseInt(page),
      total: parseInt(total),
      totalPages,
      perPage,
    }
  },
}
</script>
