<template>
  <div class="container">
    <site-header class="site-header" />
    <aside>
      <site-sidebar />
    </aside>
    <main>
      <nuxt />
    </main>
    <cookie-control />
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.container {
  @apply mx-auto grid grid-cols-6 gap-6 px-4;

  .site-header {
    @apply col-span-6;
  }

  main {
    @apply col-span-5;
  }
}
</style>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
}
</style>
