<template>
  <div class="container">
    <site-header />
    <main>
      <nuxt />
    </main>
    <cookie-control />
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.container {
  @apply mx-auto px-4;
}
</style>
