<template>
  <div>
    <slot name="before"></slot>
    <slot name="price">
      <span
        v-html-safe="fullPrice"
        class="price"
        :class="{ 'on-sale': onSale && salePrice }"
      />
    </slot>
    <slot name="after"></slot>
  </div>
</template>

<script>
import productMixin from '~/mixin/product'

export default {
  mixins: [productMixin],
}
</script>
