<template>
  <div class="product-page-layout">
    <div class="product-gallery">
      <img v-if="productImage" :src="productImage" :alt="name" />
    </div>
    <div class="product-info">
      <h2 class="product-name">
        {{ name }}
      </h2>

      <div class="product-price">
        <span
          v-if="inStock"
          v-html-safe="fullPrice"
          class="price"
          :class="{ 'on-sale': onSale && salePrice }"
        />
        <span v-else class="price out-of-stock">Out of stock</span>
      </div>

      <div v-html-safe="shortDescription" class="product-short-description" />

      <div v-if="sku" class="product-sku">SKU: {{ sku }}</div>

      <div class="product-categories">
        Categories:
        <template v-for="(category, index) in categories">
          <nuxt-link
            :key="`product-category-${category.slug}`"
            :to="`/category/${category.slug}`"
          >
            {{ category.name }}
          </nuxt-link>
          <span
            v-if="index !== categories.length - 1"
            :key="`product-category-${category.slug}-${index}`"
            >,
          </span>
        </template>
      </div>

      <div class="product-add-to-cart">
        <component :is="`add-to-cart-${cartType}`" :product="product" />
      </div>

      <div v-if="description" class="product-description">
        <h4>Description</h4>
        <div v-html-safe="description" class="description" />
      </div>
    </div>
  </div>
</template>

<script>
import productMixin from '~/mixin/product'
import AddToCartSimple from '~/components/AddToCart/AddToCartSimple'
import AddToCartVariable from '~/components/AddToCart/AddToCartVariable'

export default {
  components: {
    AddToCartSimple,
    AddToCartVariable,
  },
  mixins: [productMixin],
  data() {
    return {
      cartType: 'simple',
    }
  },
}
</script>

<style scoped lang="scss">
.product-page-layout {
  @apply grid grid-cols-3 gap-6 w-2/3 mx-auto;

  .product-info {
    @apply col-span-2;

    h2 {
      @apply text-4xl font-bold mb-4;
    }

    .product-price,
    .product-short-description,
    .product-sku,
    .product-categories,
    .product-add-to-cart {
      @apply mb-4;
    }

    .product-price {
      ::v-deep .price {
        @apply text-xl;
      }
    }

    .product-add-to-cart {
      @apply w-2/3;
    }

    .product-short-description {
      @apply text-xl;

      ::v-deep p:not(:last-child) {
        @apply mb-4;
      }
    }

    .product-categories {
      a {
        @apply underline;

        &:hover {
          @apply opacity-50;
        }
      }
    }

    .product-description {
      h4 {
        @apply text-xl font-bold mb-2;
      }

      .description {
        ::v-deep p:not(:last-child) {
          @apply mb-4;
        }
      }
    }
  }
}
</style>
