<template>
  <div class="cart-page">
    <div v-if="cartItems.length === 0" class="empty-cart">
      The cart is empty

      <nuxt-link to="/"
        >Visit our catalog and fill your cart up with products!</nuxt-link
      >
    </div>
    <template v-else>
      <div class="cart-grid">
        <div class="cart-list">
          <cart-item
            v-for="item in cartItems"
            :key="`cart-item-page-${item.id}`"
            :product="item"
            :editable="editable"
          />
        </div>
        <div class="cart-actions">
          <nuxt-child />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'fullPage',
  key(route) {
    return route.fullPath
  },
  data() {
    return {
      editable: false,
    }
  },
  computed: {
    ...mapGetters('cart', {
      cartItems: 'items',
    }),
  },
  watch: {
    $route: {
      immediate: true,
      handler() {
        this.editable = this.$route.path === '/cart'
      },
    },
  },
}
</script>

<style scoped lang="scss">
.cart-page {
  @apply w-full mx-auto pb-20;

  .cart-grid {
    @apply grid grid-cols-2 gap-4;

    .cart-list {
      @apply grid gap-y-4 self-start;
    }
  }
}
</style>
