<template>
  <div v-if="$fetchState.pending" class="text-lg font-bold">Searching....</div>
  <div v-else-if="total === 0" class="text-3xl font-bold">
    No products found
  </div>
  <product-feed
    v-else
    :products="products"
    :page-title="pageTitle"
    :page="page"
    :total="total"
    :total-pages="totalPages"
    :per-page="perPage"
  />
</template>

<script>
export default {
  async fetch() {
    const { $api, params, $config, route } = this.$nuxt.context

    const { page = 1 } = params
    const { perPage } = $config
    const {
      query: { s: search = '' },
    } = route

    const { products, total, totalPages } = await $api.products(page, perPage, {
      search,
    })

    this.products = products
    this.page = parseInt(page)
    this.total = parseInt(total)
    this.perPage = perPage
    this.totalPages = totalPages
    this.search = search
  },
  fetchOnServer: true,
  data() {
    return {
      products: [],
      page: 0,
      total: 0,
      totalPages: 0,
      perPage: 0,
      search: '',
    }
  },
  computed: {
    pageTitle() {
      return `Searched: ${this.search}`
    },
  },
  watch: {
    '$route.query.s': {
      handler(val, oldVal) {
        if (val !== oldVal) {
          this.$fetch()
        }
      },
    },
  },
}
</script>
