<template>
  <div>
    <h2>Thank you for you order!</h2>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  layout: 'fullPage',
  created() {
    // Clear vuex data
    this.clearAll()
  },
  methods: {
    ...mapActions(['clearAll']),
  },
}
</script>

<style scoped lang="scss">
h2 {
  @apply font-bold text-2xl text-center;
}
</style>
