<template>
  <div>
    <h2 v-if="pageTitle" class="page-title">
      {{ pageTitle }}
    </h2>
    <products :page="currentPage" :products="products" />
    <client-only>
      <paginate
        v-if="totalPages > 1"
        v-model="currentPage"
        :page-count="totalPages"
        :no-li-surround="true"
        :click-handler="goToPage"
        :prev-text="'Prev'"
        :next-text="'Next'"
        container-class="pagination"
        page-class="page-item"
      >
      </paginate>
    </client-only>
  </div>
</template>

<script>
export default {
  props: {
    products: {
      type: Array,
      required: true,
    },
    pageTitle: {
      type: String,
      default: '',
    },
    page: {
      type: Number,
      default: 1,
    },
    total: {
      type: Number,
      default: 0,
    },
    totalPages: {
      type: Number,
      default: 1,
    },
    perPage: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      currentPage: 0,
    }
  },
  created() {
    this.currentPage = this.page
  },
  methods: {
    goToPage(page) {
      const name = this.$route.name === 'home' ? 'page-page' : this.$route.name

      this.$router.push({
        name,
        params: {
          page,
        },
      })
    },
  },
}
</script>

<style scoped lang="scss">
.page-title {
  @apply text-4xl font-bold mb-4;
}

.pagination {
  @apply flex items-center justify-center my-8;

  ::v-deep a {
    @apply px-4 py-2 border-gray-500 border outline-none;

    &:first-child {
      @apply rounded-l-md;
    }

    &:last-child {
      @apply rounded-r-md;
    }

    &:not(:last-child) {
      @apply border-r-0;
    }

    &:hover:not(.disabled):not(.active) {
      @apply opacity-75 bg-gray-400;
    }

    &.disabled {
      @apply opacity-50 cursor-default bg-none;
    }

    &.active {
      @apply bg-gray-700 text-white cursor-default opacity-100;
    }
  }
}
</style>
