<template>
  <div>
    <slot name="before"></slot>

    <div v-if="!soldIndividually && inStock" class="qty">
      <h5>Qty</h5>
      <div class="qty-ui">
        <button
          class="minus"
          tabindex="-1"
          :disabled="qty === min || !valid"
          @click="increaseQty(-1)"
        >
          -
        </button>
        <input
          v-model="qty"
          type="number"
          :min="min"
          :max="max"
          :disabled="!valid"
          @blur="checkQty"
        />
        <button
          class="plus"
          tabindex="-1"
          :disabled="qty === max || !valid"
          @click="increaseQty(1)"
        >
          +
        </button>
      </div>
    </div>

    <button
      class="add-to-cart-btn btn"
      :class="{ 'out-of-stock': !inStock }"
      :disabled="!inStock || processing || !valid"
      @click="addToCart()"
    >
      <span v-if="!processing">{{ cartBtnLabel }}</span>
      <span v-else class="mdi mdi-loading mdi-spin"></span>
    </button>
  </div>
</template>

<script>
import productMixin from '~/mixin/product'

export default {
  mixins: [productMixin],
  props: {
    valid: {
      type: Boolean,
      default: true,
    },
    variation: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      qty: 1,
      min: 1,
      processing: false,
      addToCartText: 'Add to Cart',
      soldOutText: 'Sold out',
    }
  },
  computed: {
    max() {
      return this.stock
    },
    cartBtnLabel() {
      let label = this.inStock ? this.addToCartText : this.soldOutText

      if (this.success) {
        label = 'Added to Cart!'
      }

      return label
    },
  },
  methods: {
    increaseQty(val) {
      const qty = this.qty + val

      if (qty > this.min - 1 && qty < this.max + 1) {
        this.qty = qty
      }
    },
    checkQty() {
      this.qty = Math.round(this.qty)

      if (this.qty > this.max) {
        this.qty = this.max
      }

      if (this.qty < this.min) {
        this.qty = this.min
      }
    },
    async addToCart() {
      const product = this.product

      this.processing = true

      // Add product to cart
      await this.$api
        .addCartItem(product.id, this.qty, this.variation)
        .then(() => {
          this.$notification.show({
            message: `Added ${this.product.name} to Cart`,
            icon: 'check-bold',
          })
        })
        .catch(
          ({
            response: {
              data: { message },
            },
          }) => {
            this.$notification.error({
              message,
            })
          }
        )
        .finally(() => {
          this.processing = false
        })
    },
  },
}
</script>

<style scoped lang="scss">
.qty {
  @apply mb-4;

  h5 {
    @apply font-bold text-sm mb-1;
  }

  .qty-ui {
    @apply flex;

    button {
      @apply border border-gray-600 outline-none flex items-center px-4 py-1;

      &:focus {
        @apply outline-none;
      }

      &:hover:not([disabled]) {
        @apply bg-gray-800 text-white;
      }

      &.minus {
        @apply border-r-0;
      }

      &.plus {
        @apply border-l-0;
      }

      &[disabled] {
        @apply cursor-default opacity-50;
      }
    }

    input[type='number'] {
      @apply text-center outline-none border border-gray-600 px-4 py-1 w-full;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        @apply appearance-none;
      }
    }
  }
}

button.add-to-cart-btn {
  @apply bg-purple-700;

  &:hover:not([disabled]) {
    @apply bg-purple-800;
  }
}
</style>
