<template>
  <add-to-cart :product="product" :valid="isValid" :variation="variation">
    <template #before>
      <div class="attribute-price">
        <strong>Price:</strong> <span>{{ attributePrice }}</span>
      </div>

      <template v-if="hasOptions">
        <div
          v-for="(attribute, index) in attributes"
          :key="`attribute-${attribute.id}`"
          class="attribute"
        >
          <h5>{{ attribute.name }}</h5>
          <div class="select">
            <select v-model="choices[index].value">
              <option :value="null">Please select</option>
              <option
                v-for="term in attribute.terms"
                :key="`attr-${attribute.id}-${term.slug}`"
                :value="term.slug"
              >
                {{ term.name }}
              </option>
            </select>
            <span class="mdi mdi-chevron-down"></span>
          </div>
        </div>
      </template>
    </template>
  </add-to-cart>
</template>

<script>
import { reduce, isEqual, map } from 'lodash'
import variableMixin from '~/mixin/variable'
import { usePriceFormat } from '~/composables/usePriceFormat'

const { priceFormat } = usePriceFormat()

export default {
  mixins: [variableMixin],
  props: {
    product: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      choices: [],
      variations: [],
      attributeProduct: null,
      attributePrice: '-',
    }
  },
  computed: {
    isValid() {
      return !!this.attributeId
    },
    attributeId() {
      return this.attributeProduct ? this.attributeProduct.id : 0
    },
    variation() {
      const attributes = this.isValid ? this.choices : []

      return attributes.map((a) => {
        const { name: attribute, value } = a

        return {
          attribute,
          value,
        }
      })
    },
  },
  watch: {
    choices: {
      deep: true,
      handler() {
        const variation = this.variations.find((v) => {
          return isEqual(v.attributes, this.choices)
        })

        this.attributeProduct = variation || null
      },
    },
    attributeId(val, oldVal) {
      if (val !== 0 && val !== oldVal) {
        this.getAttributePrice(val)
      }
    },
  },
  created() {
    // Init choices
    this.choices = reduce(
      this.attributes,
      (carry, item) => {
        carry.push({
          name: item.name,
          value: null,
        })

        return carry
      },
      []
    )

    // Flatten attributes
    this.variations = map(this.product.variations, (v) => {
      return {
        id: v.id,
        attributes: map(v.attributes, (a) => {
          return { name: a.name, value: a.value }
        }),
      }
    })
  },
  methods: {
    async getAttributePrice(id) {
      const {
        prices: {
          price,
          currency_minor_unit: currencyMinorUnit,
          currency_symbol: currencySymbol,
        },
      } = await this.$api.productId(id)

      const formatPrice = priceFormat(price, currencyMinorUnit)

      this.attributePrice = `${currencySymbol}${formatPrice}`
    },
  },
}
</script>

<style scoped lang="scss">
.attribute-price,
.attribute {
  @apply mb-4;
}

.attribute-price {
  @apply text-sm;
}

.attribute {
  h5 {
    @apply font-bold text-sm mb-1;
  }

  .select {
    @apply relative;

    select {
      @apply outline-none border border-gray-600 pl-4 pr-6 py-1 w-full appearance-none cursor-pointer;
    }

    .mdi {
      @apply absolute right-0 transform -translate-y-1/2 mr-2;

      top: 50%;
    }
  }
}
</style>
